* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #2c3e50;
}

ul, ol, menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1312px;
    padding: 0 1rem;
    margin: 0 auto;
}